<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>11111.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>437CC3A81F46BDA5003A7926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437CC3C11F46BDA6003A7926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437CC3CC1F46BDA6003A7926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
